@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: poppins;
    background-color: #b3b3b3;
    scroll-behavior: smooth;
}

.line-one {
    position: fixed;
    top: 87px;
    width: 15px;
    height: 100vh;
    background: #ce0606;
    left: 23%;
}

.line-two {
    position: fixed;
    top: 87px;
    width: 25px;
    height: 100vh;
    background: #151516;
    left: 25%;
}

.line-one1 {
    top: 87px;
    position: fixed;
    width: 15px;
    height: 100vh;
    background: #603674;
    left: 72%;
}

.line-two2 {
    top: 87px;
    position: fixed;
    width: 25px;
    height: 100vh;
    background: #c5c5c5;
    left: 69%;
}

nav {
    z-index: 2;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(77, 56, 56, 0.1);
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 270px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}


.logo {
    position: fixed;
    left: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 26px;
}

.search {
    position: fixed;
    right: 160px;
}

.menu {
    position: fixed;
    right: 100px;
}

.img img {
    position: relative;
    width: 450px;
    left:13%;
    top: 70px;
    filter: drop-shadow(10px 10px 10px 10px rgba(0, 0, 0, 0.6)) ;
}

.arektaimg img{
    position: relative;
    width: 370px;
    left:63%;
    top: 30px;
    
}

#hero{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
.title {
    position: fixed;
    position: absolute;
    top: 276px;
    left: 43%;
    line-height: .5;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -6px;
}

.title p {
    font-size: 25px;
    font-weight: 300;
    color: rgb(226, 221, 221);
    text-transform: uppercase;
    left: 150px;
    letter-spacing: 10px;
}

.btn a {
    position: relative;
    text-decoration: none;
    bottom: 260px;
    right: -43%;
    text-transform: uppercase;
    background: #09096e;
    border: 1px Solid #151516;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .4s;
    transform: translateX(5px);
}

.btn a:hover {
    background: #000;
    color: #fff;
    border-radius: 7px;
    padding: 14px 24px;
    
}

.year {
    font-weight: 700;
    position: fixed;
    top: 556px;
    left: 110px;
    padding: 10px 30px;
    color: #962800;
}

.media ul {
    list-style: none;
    position: fixed;
    right: 20px;
    top: 63%;
    padding: 10px 10px;
}

.media ul li {
    cursor: pointer;
    font-size: 18px;
    margin: 24px 0;
    transition: .3s;
}

.media ul li:hover {
    transform: scale(1.8);
}

.description p{
    position: fixed;
    position: absolute;
    top: 426px;
    left: 43%;
    line-height: 1;
    font-size: 30px;
    letter-spacing: 1px;
    color: #020249;  
}

@media screen and (max-width: 600px) {
   
}
